@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>
    
    <div style="height: 50px; margin: 0 auto;">
        <img src="neocentric.png" width="160" />
    </div>
</div>
